<div class="row">
  <div class="col-xs-12">
    <h3 class="page-header">
      Dashboard <small>Important Statistics</small>
    </h3>
  </div>
</div> <!-- / .row -->


<div class="row">
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-orange">
      <i class="fa fa-comments"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="<%= Observation.count %>">0</span> 
        <small>Observations</small>
      </h3>
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-pink">
      <i class="fa fa-globe"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="<%= User.count_of_role 'guest' %>">0</span> 
        <small>Pending Approval</small>
      </h3>
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-accent">
      <i class="fa fa-pie-chart"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="<%= User.count_of_role 'scientist' %>">0</span> 
        <small>Citizen Scientists</small>
      </h3>
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-teal">
      <i class="fa fa-eur"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="<%= User.count_of_role 'researcher' %>">0</span> 
        <small>Researchers</small>
      </h3>
    </div>
    
  </div>
</div> <!-- / .row -->

<div class="row">
  <%= render 'graphs' %>
</div> <!-- / .row -->

<div class="row">
  <%= render 'latest_observations', observations: Observation.most_recent(5) %> 
  <%= render 'latest_users', users: User.most_recent(5) %> 
</div> <!-- / .row -->
