<%= form_for(observation) do |f| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
        <% observation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sighted_at %>
    <%= f.datetime_select :sighted_at %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :num_bands %>
    <%= f.number_field :num_bands %>
  </div>

  <div class="field">
    <label>Select photos</label>
    <%= f.file_field :images, multiple: true %>
  </div>
  
    <%= f.submit %>
  </div>
<% end %>

<%# <%= form_for observation do |f| %1> %>
  <%# <ul class="list-unstyled"> %>
  <%#   <% observation.images.each_with_index do |image, idx| %1> %>
  <%#     <%= render "image", image: image, idx: idx %1> %>
  <%#   <% end %1> %>
  <%# </ul> %>
  <%# <%= submit_tag "Save", class: "btn btn-primary" %1> %>
<%# <% end %1> %>
