<%= form_for(observation, multipart: true) do |f| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sighted_at %>
    <%= f.datetime_select :sighted_at %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :num_bands %>
    <%= f.number_field :num_bands %>
  </div>

  <div class="field">
    <%= f.label :photo, 'New Photo' %>
    <%= f.file_field :photo %>
    <p>
      Existing Photo
      <br/>
      <span class="photo">
        <% if @observation.photo && @observation.photo.url %>
          <%= image_tag @observation.photo.url(:square) %>
        <% else %>
          No Photo
        <% end %>
      </span>
    </p>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
