<div id='observations' class='jumbotron'>
  <h1>Editing Observation</h1> 

  <div class="col-md-6 container" style='display:block'>
    <%= render partial: 'map' %>
  </div>

  <div class="col-md-6 container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Sighted at:</strong>
      <span class="sighted_at">
        <%= @observation.sighted_at %>
      </span>
    </p>

    <p>
      <strong>Location:</strong>
      <span class="location">
        <%= @observation.location %>
      </span>
    </p>

    <p>
      <strong>Latitude:</strong>
      <span class="latitude">
        <%= @observation.latitude %>
      </span>
    </p>

    <p>
      <strong>Longitude:</strong>
      <span class="longitude">
        <%= @observation.longitude %>
      </span>
    </p>

    <p>
      <strong>Num bands:</strong>
      <span class="num_bands">
        <%= @observation.num_bands %>
      </span>
    </p>

    <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_observation_path(@observation) %></button>
    <button type="button" class="btn btn-primary"><%= link_to 'Back', observations_path %></button>
  </div>

</div>