<div class='extra-space'>

</div>
<ul class="nav nav-tabs">
  <li role="presentation"><%=link_to 'Pending Approval', guests_path%></li>

  <li role="presentation"><%=link_to 'All Users', users_path%></li>
</ul>
<div class='container'>

<div>
  <table class='table extra-space cell-height'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to "#{user.name}", user_path(user) %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.role %>
          </td>
          <td>
            <%= link_to "Edit user", edit_user_path(user), class: 'btn btn-sm btn-default' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
