<div class="container">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group row">
      <%= f.label :email, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>


    <div class="field form-group row">
      <%= f.label :password, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <!-- <% if devise_mapping.rememberable? -%>
      <div class="field form-group row">
        <%#= f.check_box :remember_me, class: 'col-sm-offset-2 col-sm-10 form-control-label' %>
        <%#= f.label :remember_me %>
      </div>
    <% end -%> -->

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-secondary">Sign in</button>
      </div>
    </div>
    <%= render "devise/shared/links" %>

  <% end %>
</div>
