<div class="sidebar">

  <!-- Close button (mobile devices) -->
  <div class="sidebar__close">
    <%= image_tag 'close.svg', alt:"Close sidebar" %>
  </div>

  <!-- Sidebar user -->
  <div class="sidebar__user">

    <!-- Sidebar user avatar -->
    <div class="sidebar-user__avatar">
      <%= image_tag 'logo.png', style:"" %>
    </div>

    <!-- Sidebar user info -->
    <a class="sidebar-user__info">
      <h4>
        <%= current_user.name %>
      </h4>
      <p><%= current_user.role.titleize %> <i class="fa fa-caret-down"></i></p>
    </a>

  </div>

  <!-- Sidebar user nav -->
  <nav class="sidebar-user__nav">
    <ul class="sidebar__nav">
      <li>
        <%= link_to user_path current_user do %>
          <i class="fa fa-user"></i> Profile
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_path current_user do %>
          <i class="fa fa-edit"></i> Edit profile
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i> Sign out
        <% end %>
      </li>
    </ul>
  </nav>

  <!-- Sidebar nav -->
  <nav>
    <ul class="sidebar__nav">
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home fa-lg"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_index_path do %>
          <i class="fa fa-th-large"></i> Dashboard
        <% end %>
      </li>

      <% if can? :read, Observation %>
        <li>
          <%= link_to observations_path do %>
            <i class="fa fa-binoculars" aria-hidden="true"></i> Observations
          <% end %>
        </li>
      <% elsif can? :create, Observation %>
        <li>
          <%= link_to, new_observation_path do %>
            <i class="fa fa-binoculars" aria-hidden="true"></i> Add Observations
          <% end %>
        </li>
      <%end%>

      <%if can? :manage, :all %>
        <li>
          <%= link_to guests_path do %>
            <i class="fa fa-tachometer" aria-hidden="true"></i> Admin Panel
          <% end %>
        </li>
        <li>
          <%= link_to new_user_invitation_path do %>
            <i class="fa fa-user-plus" aria-hidden="true"></i> Invite New User
          <% end %>
        </li>
      <%end%>

    </ul>
  </nav>

</div>
